@font-face {
    font-family: 'Inter var';
    font-weight: 100 900;
    font-display: block;
    font-style: normal;
    font-named-instance: 'Regular';
    src: url('../../public/fonts/Inter-roman-latin.woff2') format('woff2');
}

/* @font-face {
    font-family: 'Lato';
    src: url('../../public/fonts/Lato-Regular.woff2');
}

@font-face {
    font-family: 'SF Display';
    src: url('../../public/fonts/SF-Display.woff2');
} */
